/* Шрифты*/
@font-base: 'Montserrat', sans-serif;
@font-title: 'Raleway', sans-serif;

/* Отступы */
@container-padding: 15px;

/* Цвета */
@color-white: #ffffff;

/* Текста */
@font-brown: #c7b299;
@font-grey: #555555;
/* Цвет фона */
@light-brown: #998675;
@dark-grey: #111111;

body,
html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    color: @color-white;
    font-family: @font-title;
    font-size: 52px;
    font-weight: 700;
    padding: 14px 0;
}

h2 {
    color: @font-grey;
    font-family: @font-title;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 25px;
}

h3 {
    color: @color-white;
    font-family: @font-title;
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    font-family: @font-base;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

ul {
    list-style: none;
}

button {
    color: @color-white;
    font-family: @font-title;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: @light-brown;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 3px;
    box-shadow: none;
}

button:hover {
    background-color: #d3c1ad;
}

time {
    font-family: @font-base;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

/* Блок первый - меню, слайдер */
header {
    background: url(../img/slide.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
}

.header {
    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    &-arrow {
        padding: 30px;
        cursor: pointer;
    }


    &-text {
        max-width: 590px;
        text-align: center;
    }

    &-span {
        color: @color-white;
        font-family: @font-title;
        font-size: 36px;
        font-weight: 500;
    }

    &-p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        padding-bottom: 40px;
        color: @color-white;
    }
}

.logo {
    &-img {
        float: left;
    }

    &-img use {
        fill: #ff0000;
    }

    &-name {
        font-size: 34px;
        font-weight: 400;
        letter-spacing: -1.36px;
        line-height: 54px;
        color: @color-white;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    padding: 0 @container-padding;


    &-ul {
        display: flex;
    }

    &-li {}

    &-a {
        color: @color-white;
        font-family: @font-base;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 15px;

        &-active {
            color: @font-brown;
        }
    }

    &-a:hover {
        color: @font-brown;
    }

    &-cart {
        padding-left: 40px;
    }
}

.slider {
    &-pagi {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    &-circle {
        width: 11px;
        height: 11px;
        background-color: @color-white;
        opacity: 0.5;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;

        &-active,
        &:hover {
            border: 2px solid #d3c1ad;
            background-color: transparent;
            margin: 3px;
        }
    }
}

/* / Блок первый */

/* Блок второй - с возможностями */

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px @container-padding;

    &-block {
        max-width: 260px;
        text-align: center;
    }

    &-block:hover &-h3 {
        color: @font-brown;
    }

    &-block:hover &-hr {
        border: 1px solid @font-brown;
    }

    &-img {
        color: @font-grey;
        transition: all 1s;

        &:hover {
            transform: rotate(180deg);
        }
    }

    &-h3 {
        color: @font-grey;
        font-family: @font-title;
        font-size: 22px;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &-p {
        color: #8c8c8c;
        font-family: @font-base;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }

    &-hr {
        width: 70px;
        border: 1px solid #f1eee9;
        margin: 30px auto 0;
    }
}


/* /Блок с возможностями */


/* Block Video */
.block-video {
    height: 100vh;
    background: url(../img/video.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
        margin-bottom: 40px;
    }

    &-text {
        max-width: 550px;
        text-align: center;
    }

    &-h2 {
        color: #ffffff;
    }

    &-p {
        font-family: Montserrat;
        color: #ffffff;
        font-size: 16px;
        line-height: 28px;
    }

    &-span {
        color: #c7b299;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 40px;
        display: block;
    }
}

/* /Block Video */
/* Блок с мобильным */
.mobile {
    //    padding: 80px @container-padding 0;
    background: url(../img/iPhone_in_hand.png) no-repeat bottom left;
    height: 695px;
    background-color: #fbfaf8;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-text {
        width: 657px;
    }

    &-p {
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }

    &-ul {
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        margin-top: 45px;
        padding-left: 50px;
    }

    &-li {
        padding-left: 50px;
        background: url(../img/icon/li-arrow.png) no-repeat center left;

    }
}

/* /Блок с мобильным */
/* Блок статистики */
.counter {
    height: 300px;
    background: linear-gradient(to right, #211b19 0%, #4e3427 100%);

    &-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 @container-padding+130;
        height: 100%;
    }

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-count {
        color: @color-white;
        font-family: @font-base;
        font-size: 48px;
        font-weight: 100;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &-p {
        color: @font-brown;
        text-transform: uppercase;
    }

    &-hr {
        border: 2px solid @color-white;
        width: 30px;
        margin-top: 30px;
    }
}

/* /Блок статистики */


/* Блок Блог */
.small-slider-pagi {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.blog {
    text-align: center;
    padding: 80px @container-padding;

    &-p {
        max-width: 760px;
        margin: 0 auto;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }

    &-posts {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &-post {
        max-width: 370px;

        &-pic {
            position: relative;
        }

        &-text {
            text-align: left;
            padding: 30px;
        }

        &-date {
            width: 50px;
            position: absolute;
            top: 20px;
            left: 20px;

            &-d,
            &-m {
                width: inherit;
                display: block;
                box-sizing: border-box;
                text-align: center;
                color: @color-white;
            }

            &-d {
                border-radius: 3px 3px 0 0;
                background-color: #363636;
                padding: 9px 0;
                font-family: @font-base;
                font-size: 24px;
                font-weight: 300;

            }

            &-m {
                border-radius: 0 0 3px 3px;
                background-color: #252525;
                padding: 6px 0;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
            }
        }

        &-title {
            color: @font-grey;
            font-family: @font-title;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 20px;
            display: block;
        }

        &-p {
            color: #8c8c8c;
        }

        &-readmore {
            color: @font-brown;
            font-family: @font-base;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            margin-top: 25px;
            display: block;
        }
    }

    &-arrows {
        display: flex;
        justify-content: center;
    }

    &-arrow {
        padding: 4px;
    }
}

/* /Блок Блог*/

/* Блок партнеры */
.partner {
    height: 489px;
    background: url(../img/bg-partners.jpg);

    &-cont {
        height: 100%;
        padding-left: @container-padding;
        padding-right: @container-padding;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-img {
        transition: all 1s;

        &:hover {
            transform: scale(1.1);
        }
    }


}

/* / Блок партнеры */

/* Последний блок - Footer */

.recent-post {
    border-bottom: 1px solid #252525;
    padding: 20px 0;


    &:first-child {
        /* не работает */
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }


    &-time {
        color: #363636;
        margin-bottom: 10px;
        display: block;

        &-invert {
            color: @color-white;
            margin-bottom: 10px;
            display: block;
        }
    }

}

.twit {
    border-bottom: 1px solid #252525;
    padding: 20px 0;

    &:first-child {
        /* не работает */
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    &-nickname,
    &-hashtag {
        color: #00bff3;
    }

    &-time {
        color: #363636;
        font-family: @font-base;
        font-size: 12px;
        font-weight: 300;
        line-height: 30px;
    }

    &-a {
        color: #959595;
    }
}

.footer {
    &-h3 {
        padding: 28px 0;
    }

    &-readmore {
        margin-top: 30px;
        display: block;
    }

    &-logo {
        padding-bottom: 29px;
        display: block;
    }

    &-top {
        background-color: #191919;
        padding: 80px 0;

        &-cont {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-left: @container-padding;
            padding-right: @container-padding;
        }

        &-column {
            max-width: 260px;
        }

        &-p {
            color: @font-grey;

            &-invert {
                color: @font-brown;
            }
        }

        &-a {
            color: #d1d1d1;
            font-family: @font-base;
            font-size: 14px;
            font-weight: 400;

            &:after {
                content: url(../img/icon/arrow-right.png);
                padding-left: 10px;
            }
        }

        &-widget {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;

            &-img {
                width: 49%;
                padding-bottom: 5px;

            }
        }
    }

    &-bottom {
        background-color: @dark-grey;


        &-cont {
            height: 111px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: @container-padding;
            padding-right: @container-padding;
        }

        &-ul {
            display: flex;
        }

        &-li,
        &-a {
            color: @font-grey;
            font-family: @font-base;
            font-size: 13px;
            font-weight: 300;
        }

        &-a:hover {
            color: @color-white;
        }

        &-li:after {
            content: "|";
            color: #252525;
            padding: 0 6px;
        }

        &-span {
            color: #959595;

            &-faq {
                color: @font-brown;
            }

            &-faq:hover {
                color: #d3c1ad;
            }
        }
    }
}

/* / Footer */
